# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Videos
*.mp4
*.avi
*.mov

# Models
*.pt

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db